*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
*.jks
*.key
*.pem
*.crt
*.p12
*.der
*.csr
*.pfx
*.p8
*.p7b
*.spc
*.cer
*.crl
*.p7c
*.p7m
*.p7s
*.p10
*.p12
*.p7b
*.p8
*.p7c
*.p7m
*.p7s
*.p10
*.p12
*.p7b
*.p8
*.p7c
*.p7m
*.p7s
*.p10
*.p12
*.p7b
*.p8
*.p7c
*.p7m
*.p7s
*.p10
*.p12
*.p7b
*.p8
*.p7c
*.p7m
*.p7s
*.p10
gradle-wrapper.jar
